@model IEnumerable<DIYComputer.Entity.ComputerWareEntity.ROM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_IMLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ROMCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROMMHz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROMClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROMSuitable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROMDDRType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROMCheckout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardWareEnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imgurl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ROMCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROMMHz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROMClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROMSuitable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROMDDRType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROMCheckout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardWareEnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imgurl)
            </td>
            <td>
                <a class="btn btn-info btn-xs" asp-action="Details" asp-route-id="@item.ID">详情</a> |
                <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                <a class="btn btn-warning btn-xs" asp-action="Delete" asp-route-id="@item.ID">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
