@model DIYComputer.Entity.ComputerWareEntity.HardDisk

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_IMLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HardDisk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HDSuitable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HDSuitable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HDInterface)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HDInterface)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HDRotateSpeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HDRotateSpeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HDCache)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HDCache)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HDCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HDCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HardWareEnum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HardWareEnum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imgurl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imgurl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
