@model DIYComputer.Entity.ComputerWareEntity.Power

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_IMLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Power</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PowerFunction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PowerFunction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PowerRange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PowerRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Power80PLus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Power80PLus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PowerFanSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PowerFanSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Power44CPU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Power44CPU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Power4PCPU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Power4PCPU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Power62P)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Power62P)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PowerType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PowerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PowerCase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PowerCase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HardWareEnum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HardWareEnum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imgurl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imgurl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
