@model IEnumerable<DIYComputer.Entity.ComputerWareEntity.Power>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_IMLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.PowerRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power80PLus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerFanSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power44CPU)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.Power62P)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
     
       
            <th>
                @Html.DisplayNameFor(model => model.Imgurl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
    
            <td>
                @Html.DisplayFor(modelItem => item.PowerRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power80PLus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerFanSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power44CPU)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.Power62P)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.Imgurl)
            </td>
            <td>
                <a class="btn btn-info btn-xs" asp-action="Details" asp-route-id="@item.ID">详情</a> |
                <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                <a class="btn btn-warning btn-xs" asp-action="Delete" asp-route-id="@item.ID">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
