@model IEnumerable< DIYComputer.Entity.ComputerWareEntity.Case>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_IMLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using Microsoft.AspNetCore.Authentication

@*<h2>HttpContext.User.Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
*@ 
@*<h2>AuthenticationProperties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>*@
<table class="table">
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.CaseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseStruct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Imgurl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.CaseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseStruct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseStyle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Imgurl)
                </td>
                <td>
                    <a class="btn btn-info btn-xs" asp-action="Details" asp-route-id="@item.ID">详情</a> |
                    <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                    <a class="btn btn-warning btn-xs" asp-action="Delete" asp-route-id="@item.ID">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
